header span {
    font-size: 1rem;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /*规定最多显示两行*/
}

.nav-pills {
    position: relative;
    z-index: 100;
    box-shadow: 0 1px 3px lightgray;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    width: 100%;
    line-height: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #727272;
    font-size: 12px;
    font-weight: 900;
    background-color: #F3F5F6;
}

a,
a:hover {
    letter-spacing: 2px;
    color: gray;
}

.img {
    border-radius: 100000px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    border: none;
    -webkit-filter: drop-shadow(3px 3px 3px #8B8B8B)!important;
    border-radius: 100;
}

.img img { 
    width: 200px;
    height: 200px;
}

.fp-tableCell {
    vertical-align: top !important;
}
.des{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 30px;
}
.search_icon {
    font-size: 20px;
    line-height: 24px;
}
.search-3 {
    width: 100%;
}
.form-control{
    position: relative;
    border-radius: 4px 0 0 4px;
    width: 70% !important;
}
.btn-outline-info {
    /*background: #E7E7E7;*/
    background: white;
    position: relative;
    z-index: 20;
    width:25% !important;
    border-radius: 0px 4px 4px 0px !important;
    border:1px solid;
}
.btn-outline-info:hover{
    color:#17A2B8;
    background: rgba(0,0,0,0);
} 