@import url(bootstrap.min.css);
@import url(owl.carousel.min.css);

#maintabContent {
    color: #747794;
    overflow-x: hidden;
    background-color: rgb(243, 245, 247);
} 

.pic {
    text-align: right;
    position: relative;
    z-index: 10;
    right: 5px;
    margin: 6px;
    bottom: -120px;
}

.pic img {
    display: inline-block;
    filter: drop-shadow();
    -webkit-filter: drop-shadow(4px 3px 1px #D3D3D3);
    width: 120px;
}

.product-title-meta-data {
    box-shadow: -2px -1px 5px 2px #EEEFF2;
    border-radius: 1.5rem 1.5rem 0 0;
    padding-top: 1.5rem !important;
}

.product-description {
    position: relative;
    margin-top: -80px;
    z-index: 1;
}

.container-1 {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 6px;
    background: rgb(243, 245, 247);
    box-shadow: 2px 2px 1px lightgray;
}

.brand-1 {
    border-radius: 20px;
    padding: 10px 20px;
}

.brand-2 {
    font-weight: 600;
    letter-spacing: 3px;
}

.king {
    color: #E4C34F;
    padding: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    right: 35px;
}

.all {
    color: #72B6EA;
    padding: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    right: 35px;
}

.science {
    color: #7B9975;
    padding: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    right: 35px;
}
.article{
    color: lightgray;
    padding: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    right: 35px;
}
#container {
    max-height: 6rem;
    overflow: hidden;
    position: relative;
}


.unfold-field .unfold-field_text {
    background: #f8f9fa;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.unfold-field_text a {
    font-size: 10px;
    width:100%;
    border-radius: 0 !important;
    font-weight: 700;
}

#container-11 {
    max-height: 13rem;
    overflow: hidden;
    position: relative;
}
.unfold-field-1 .unfold-field_text-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.unfold-field_text-1 a {
    letter-spacing: 1px;
    background: white;
    font-size: 10px;
    border-radius: 0 !important;
    font-weight: 700;
}




a:hover {
    text-decoration: none;
}

.fa-bookmark {
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.fa-bookmark:before{
    font-size: 25px;
}
.p-title-price {
    position: relative;
}
.p-title-price h6{
    width: 200px;
}
header {
    background: rgb(96, 125, 141);
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
}

header span {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /*规定最多显示两行*/
}


header i {
    color: #F4F0F0;
    margin-left: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #020310;
    font-weight: 700;
    line-height: 1.4;
}

h6 {
    letter-spacing: 2px;
}

p {
    color: #747794;
    font-size: 14px;
}

ul li {
    list-style: none;
    text-decoration: none;
}

.justify-content-between {
    padding-left: 2rem;
}

.product-description .sale-price {
    font-size: 18px;
    font-weight: 700;
    color: #ea4c62;
    line-height: 0px;
}


.product-description .total-result-of-ratings span:first-child {
    background-color: #E4C34F;
    letter-spacing: 1px;
    padding: 3px 6px;
    color: #ffffff;
    display: inline-block;
    border-radius: 100rem;
    font-size: 14px;
    margin-right: 0.25rem;
    font-weight: 700;
}

.d-1 {
    text-indent: 2em;
}

.c {
    font-size: 10px;
}

.one-1 {
    color: #CFD1DC !important;
    margin: 14px 0 0 0;
    font-size: 40px;
}

.icon1 {

    border-top: .2px solid lightgray;

}

.icon1 i {
    color: #DCE7DC;
    margin: 14px 0 0 0;
    font-size: 40px;
}

.icon1 p {
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px;
}

.icon1 a:first-child {
    border-right: .1px solid lightgray;
}

.icon1 a {
    text-decoration: none;
}

.icon1 a:hover i,
.icon1 a:hover p {
    color: #D0BFBF;
}

.p-wishlist-share a i {
    font-size: 25px;
    margin-left: 3px;
}

.one {
    color: #AF5858;
}

.two {
    color: #4F4CB9;
}

.used hr {
    color: lightgray;
    margin-bottom: 5px;
}

.end {
    letter-spacing: 10px;
    font-weight: 700;
    color: white;
    background: rgb(132, 151, 176);
    border: none;
    line-height: 35px;
    margin: 0px 3% 0px 3%;
    width: 94%;
    border-radius: 6px;
}

.end-1 .col-6 {
    padding: 0;
}

.bottom-left {
    position: absolute;
    top: 75px;
    left: 10px;
    bottom: inherit !important;

}

.brand {
    box-shadow: 2px 5px 4px 0px lightgray;
    color: #C0BEBE;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 6px 10px;
    border: none;
    background: white;
    border-radius: 5px !important;
}

.c-1 {
    font-size: 14px;
}

.c-2 {
    margin-top: 2px;
    background-color: #EFEEEE;

}

.c-2 button {
    letter-spacing: 2px;
    background: white;
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: 10px;

}

.dropdown {
    vertical-align: middle;
    position: relative;
}

.fa-filter {
    position: absolute;
    right: 0;
}

.c-2 .dropdown-toggle {
    color: gray;
    font-size: 12px;
    line-height: 20px;
}

.progress {
    padding-left: 0;
    padding-right: 0;
}

.progress-bar {
    color: white;
}

.commit {
    width: 100px;
}

#rating {

    padding-inline-start: 0;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    /*  font-size: 25px;*/
    height: 25px;
    /*width: 100px;*/
    margin: 0 auto;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
}

.star-ratings-css::before {
    content: '★★★★★';
    opacity: .6;
}

.star-ratings-css::after {
    color: #E4C34F;
    content: '★★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
}

.used .col-5 {
    padding: 0 0 0 10px;
}

.used .col-7 {
    padding: 0 5px 0 0;
}

.p {
    color: gray;
    padding: 0 0 0 8px;
    font-size: 10px;
    line-height: 14px;
}

.progress {
    vertical-align: middle;
    height: .5rem;
    margin: auto 0;
}

.progress-bar {
    background: #8ec1dd;

}

#commit-1>div {
    font-size: 14px;
    line-height: 14px;
}

#commit-1 {
    margin: 0 !important;
}

.count {
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 0;
}

.rating-1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.rating-3 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.rating-2 {
    font-weight: normal;
    font-size: 8px;
}
.pro-img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}
a{
    color: inherit;
}
a:hover{
    text-decoration:none;
    color:inherit;
}
.name a{
    line-height:15px;
    padding-bottom:3px;
}
.detail-1{
    letter-spacing: 1px;
    font-size: 8px;
    line-height:12px;
}
.detail-2 span{
    margin-left: 10px;
    font-size: 8px;
}
.pro-img-1{
    padding: 0;
}
.one{
    padding: 0;
    line-height: 14px;
}
.name{
    position: relative;
    line-height: 10px;
}
.good{
    font-size:20px !important;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightgray;
    position: absolute;
    right:25px;
    top:5px;
}
.try{
    -webkit-text-fill-color:  #8ec1dd !important;
    -webkit-text-stroke-color: #638395 !important;
    -webkit-text-stroke-width: 1px;
}
.bad{
    font-size:20px !important;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightgray;
    position: absolute;
    top:5px;
    right: -10px;
}
.d-3{
    padding: 20px 40px;
}
.detail-2 .fa-star,.star .material-icons{
    color:#E4C34F;
    font-size: 15px;
    letter-spacing: -5px;
}
.swiper-wrapper p {
    width: 100px;
}
.swiper-slide{
    line-height: 15px;
}
.categoriestab1 .swiper-slide {
    padding: 0 15px 0 15px; 
    margin:10px 5px;
}
.like{
    position: relative;
}
.more{
    color:#8ec1dd;
    position: absolute;
    right:5px;
    font-style: italic;
}
