strong {

    margin: 0 !important;
    margin-top:20px !important;
    /*color: black !important;*/
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 200px;
}

.media-body small {
    /*margin: 5px 0;*/
    line-height: 14px;
    font-size: 12px;
    text-indent: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 200px;
    -webkit-line-clamp: 1;
}

.slide {
    background-color: rgb(243, 245, 247);
}

.nav-pills {
    position: relative;
    z-index: 100;
    box-shadow: 0 1px 3px lightgray;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    width: 100%;
    line-height: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #727272;
    font-size: 12px;
    font-weight: 900;
    background-color: #F3F5F6;
}

.iScrollIndicator {
    visibility: hidden;
}

a {
    letter-spacing: 2px;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
.ll {
    letter-spacing: inherit !important;
}
.search_icon {
    font-size: 20px;
    line-height: 24px;
}


.search-3 {
    position: relative;
    padding: 0 15px;
    width: 100%;
}
.form-control{
    position: relative;
    right:-10px;
    border-radius: 10px 0 0 10px;
    width: 70% !important;
}
.btn-outline-info {
    /*background: #E7E7E7;*/
    background: white;
    position: relative;
    z-index: 20;
    width:25% !important;
    border-radius: 0px 10px 10px 0px !important;
    border:1px solid;
}


.fp-tableCell {
    vertical-align: top !important;
}

.pro-img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.pro-img-1 {
    border-radius: 100px;
    width: 15px;
    height: 15px;
    object-fit: cover !important;
}

.user {
    font-size: 8px;
    color: gray;
    padding: 0;
    position: absolute;
    /*bottom: 5px;*/
    /*left: 10px;*/
}

.h6 {
    margin-left: 5px;
    vertical-align: inherit !important;
    font-size: 10px !important;

}

.item-1 {
    position: relative;
    /*border-radius: 5px !important;*/
    padding: 8px 8px 8px 10px;
    margin: 1px 2px;
}

.media-body {
    position: relative;
    display: block;
    align-items: center;
}

.media-body span {
    letter-spacing: 1px;
    font-size: 8px;
    line-height: 8px;
}

.strong {
    position: absolute;
    top: -100px;
}

.rounded {
    box-shadow: 3px 3px 5px lightgray;
}

.fa-tag {
    margin: 3px 0;
    font-size: 5px;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    width: 100px;
    -webkit-line-clamp: 1;
}

.tag-1 {

    position: absolute;
    bottom:10px;
}

.tag-2 {
    position: absolute;
    left: 100px;
}
.count{
    font-size: 10px;
    color:#D0D0D0;
    position: absolute;
    right: 120px;
    bottom:5px;
    letter-spacing: 2px;
}
.count span,.count i{
    margin-right: 2px;
    font-size: 13px;
    vertical-align: middle;
}
.tabs-footer .nav-tabs .nav-item .nav-link {
    padding: .5rem 1.5rem !important;
}
.shadow {
    border-radius: 100px;
}
.bottom-right {
    bottom: 40px;
    right:10px;
}
