body {
    margin: 0;
    color: lightgray;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
}

.login-wrap {
    background: url(../img/bg-1.jpg) no-repeat center;
    background-size:cover; 
    width: 100%;
    object-fit: cover;
    min-height: 1000px;
    position: fixed;
}

.bg {

    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, .1);
}

.login-html {
    position: absolute;
    bottom: 55%;
    display: table-cell;
    left: 10%;
    width: 80%;
    font-weight: 900;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab {
    letter-spacing: 2px;
    font-size: 22px !important;
    padding-bottom: 5px;
    margin: 0 8% 10px 8%;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: white;
    border-bottom:2px solid  #888DAB;
}

.login-form {/*
	padding: 10px;
	border-radius: 10px;
	background: rgba(255,255,255,.5);*/
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.sign-up-htm,.sign-in-htm{/*
	margin-bottom: -50px;*/
	border-radius: 10px;
	background: rgba(0,0,0,.5);
	padding: 20px;
}
.sign-in-htm{
	margin:10px 0 -40px 0;
}
.sign-up-htm{
    height:130%;
/*	padding-bottom:400px;*/
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color:white;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 100px;
    background: inherit;
    border: #ACAEBB 1px solid;
}
.input,
.select {
    border-radius: 100px !important;
    margin: 30px 0 30px 0;
}
.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.button {
    margin-top: 30px;
}

.login-form .group .label {
    font-weight: 700;
    font-family: 微軟正黑體;
    letter-spacing: 3px;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    line-height: 25px;
}
.login-form .group .label:focus{
    color:gray;
}
.login-form .group .button {
    line-height: 20px;
    font-family: 微軟正黑體;
    font-weight: 700;
    letter-spacing: 10px;
    /*background: #9098BA;*/
    background:  rgb(96, 125, 141,.7);
    font-size: 20px;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: white;
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.select {
    height: 45px;
    border-radius: 100px;
    border-color:#ACAEBB;
    font-size: 16px !important;
    background: rgba(255, 255, 255, 0);
    margin-top: 30px;
}
.select option{
	color: #859C82 !important;
}
.hr {
    height: 2px;
    margin: 40px 0 40px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: right;
}

#dialog-link,
#dialog-link1 {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}



#dialog-link span.ui-icon {
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#dialog-link1 span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#scrollbox li {
    font-weight: 900 !important;
}

.button1 {
    color: white;
    display: block;
    border: none;
    margin: 40px 10px 15px 10px;
    padding: 15px 20px;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 5px;
    /*background: #9098BA;*/
    background: inherit;
    background: rgb(96, 125, 141,.6);
}

.aui-info {
    margin-top: 60px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.txz{
    border: .5px lightgray double;
    border-radius: 100px;
    display:flex;
    align-items:center;
    justify-content:center;
	position: relative;
	width: 150px;
	height:150px;
	overflow: hidden;
}
#img-txz {
	display: inline;
	margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
}

.upload_cover {
    position: relative;
    left: -10px;
    top:65px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    /*		border: 1px solid #595656;*/
}

#file-txz {
    position: relative;
    width: 3.5rem;
    clear: both;
    display: block;
    display: none;
}

.upload_icon {
    font-weight: bold;
    width: 100%;
}

.pic {
    text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:lightgray;
  opacity: 1; /* Firefox */
}
.fa-pencil{
	border-radius: 100px;
	color:white;
}