.right{
	color:#73B16B;
}
.wrong{
	color:lightgray;
}
.page-content-wrapper {
	background: #F9F9F9;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}
.page-content-wrapper img{
	max-height: 170px;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}
/*.pay-credit-card-form label {
    font-weight: 700;
    margin-left: 0.25rem;
    text-transform: uppercase;
}*/
.pay-credit-card-form .form-control {
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 0 3px 8px rgba(15, 15, 15, 0.1) !important;
}
.page-content-wrapper button{
	font-weight: 700;
	background: #A09383;
}
.page-content-wrapper i{
	/*line-height: 50px;*/
	left: 20px;
} 